In [ ]:
book_ticket("A1","A2","A3")
book_ticket("A4","A5")

In [2]:
def func(*arg):
    print(arg)
    for i in arg:
        if i%2==0:
            print(i)

func(1,2,3)
func(1,2,3,5,8)

(1, 2, 3)
2
(1, 2, 3, 5, 8)
2
8

In [4]:
def book_ticket(movie_name, user_name, *no_of_seats):
    total_seat_av = 25
    if len(no_of_seats)>total_seat_av:
        print("BOOH go away no ticket available!!")
    else:
        print("Ticket Booked")

In [5]:
book_ticket("Avengers", "Praveen", "A1","A2","A3")

Ticket Booked

In [6]:
# A1 B1 C1 D1 E1
# A2 B2 C2 D2 E2
# A3 B3 C3 D3 E3
# A4 B4 C4 D4 E4
# A5 B5 C5 D5 E5

booked_seat = ["D1", "E1", "B3"]
# A1 B1 C1 B  B
# A2 B2 C2 D2 E2
# A3 B  C3 D3 E3
# A4 B4 C4 D4 E4
# A5 B5 C5 D5 E5

In [ ]:
5 mins

In [9]:
for row in range(1,6):
    for col in range(1,6):
        print(str(row)+str(col), end=" ")
    print()

11 12 13 14 15
21 22 23 24 25
31 32 33 34 35
41 42 43 44 45
51 52 53 54 55

In [11]:
for row in range(1,6):
    for col in range(ord("A"),ord("E")+1):
        print(str(col)+str(row), end=" ")
    print()

651 661 671 681 691
652 662 672 682 692
653 663 673 683 693
654 664 674 684 694
655 665 675 685 695

In [12]:
for row in range(1,6):
    for col in range(ord("A"),ord("E")+1):
        print(str(chr(col))+str(row), end=" ")
    print()

A1 B1 C1 D1 E1
A2 B2 C2 D2 E2
A3 B3 C3 D3 E3
A4 B4 C4 D4 E4
A5 B5 C5 D5 E5

In [22]:
booked_seat = ['A1', 'B1', 'C1', 'A2', 'B2', 'C2', 'D2', 'E2', 'A3', 'C3']
for row in range(1,6):
    for col in range(ord("A"),ord("E")+1):
        if str(chr(col))+str(row) in booked_seat:
            print("B ", end=" ")
        else:
            print(str(chr(col))+str(row), end=" ")
    print()

B  B  B  D1 E1
B  B  B  B  B
B  B3 B  D3 E3
A4 B4 C4 D4 E4
A5 B5 C5 D5 E5

In [16]:
t = (1,5)
y = [6,9]
y.extend(t)

In [17]:
print(y)

[6, 9, 1, 5]

In [18]:
booked_seat = ["D1", "E1", "B3"]
seats=[]
for row in range(1,6):
    for col in range(ord("A"), ord("E")+1):
        if chr(col)+str(row) not in booked_seat:
            seats.append(chr(col)+str(row))

In [19]:
print(seats)

['A1', 'B1', 'C1', 'A2', 'B2', 'C2', 'D2', 'E2', 'A3', 'C3', 'D3', 'E3', 'A4', 'B4', 'C4', 'D4', 'E4', 'A5', 'B5', 'C5', 'D5', 'E5']

In [21]:
seats[:10]

['A1', 'B1', 'C1', 'A2', 'B2', 'C2', 'D2', 'E2', 'A3', 'C3']